{% extends "base.html" %} {% block title %}WeBooks - Register{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
<section class="bg-gray-800">
  <div
    class="flex flex-col items-center justify-center py-6 mx-auto my-auto min-h-screen"
  >
    <a
      href="{% url 'index' %}"
      class="flex items-center mb-6 text-4xl font-bold text-white"
    >
      WeBooks
    </a>
    <div
      class="w-5/6 rounded-lg shadow border m-0 md:max-w-md xl:p-0 bg-gray-900 border-gray-800"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-white"
        >
          Register an account
        </h1>
        <form
          class="space-y-4 md:space-y-6"
          action="{% url 'register' %}"
          method="post"
        >
          {% csrf_token %}
          <div>
            <label
              for="username"
              class="block mb-2 text-sm font-medium text-white"
              >Username</label
            >
            <input
              type="text"
              name="username"
              id="username"
              class="bg-gray-700 border border-gray-600 text-white rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400"
              placeholder="webooks"
              required=""
            />
          </div>
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-white"
              >Email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="bg-gray-700 border border-gray-600 text-white rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400"
              placeholder="reader@webooks.com"
              required=""
            />
          </div>
          <div>
            <label
              for="password1"
              class="block mb-2 text-sm font-medium text-white"
              >Password</label
            >
            <input
              type="password"
              name="password1"
              id="password1"
              placeholder="••••••••"
              class="bg-gray-700 border border-gray-600 text-white rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400"
              required=""
            />
          </div>
          <div>
            <label
              for="password2"
              class="block mb-2 text-sm font-medium text-white"
              >Confirm password</label
            >
            <input
              type="password"
              name="password2"
              id="password2"
              placeholder="••••••••"
              class="bg-gray-700 border border-gray-600 text-white rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400"
              required=""
            />
          </div>
          {% if form.errors %} {% if form.username.errors %}
          <div
            class="p-4 mb-4 text-sm text-red-400 rounded-lg bg-gray-800"
            role="alert"
          >
            {{ form.username.errors }}
          </div>
          {% endif %} {% if form.email.errors %}
          <div
            class="p-4 mb-4 text-sm text-red-400 rounded-lg bg-gray-800"
            role="alert"
          >
            {{ form.email.errors }}
          </div>
          {% endif %} {% if form.password2.errors %}
          <div
            class="p-4 mb-4 text-sm text-red-400 rounded-lg bg-gray-800"
            role="alert"
          >
            {{ form.password2.errors }}
          </div>
          {% endif %} {% endif %}
          <hr />
          <button
            type="submit"
            class="w-full text-white focus:ring-4 focus:outline-none focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-800 hover:bg-blue-600"
          >
            Register
          </button>
          <p class="text-sm font-light text-gray-400">
            Already have an account?
            <a
              href="{% url 'login' %}"
              class="font-medium text-primary-500 hover:underline"
              >Log in here!</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
